.remove_scroll {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  caret-color: transparent;
  scrollbar-width: none;
  overflow: auto;
  scrollbar-track-color: black;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: auto;
}