body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat-VariableFont_wght';
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Montserrat-VariableFont_wght';
  src: local('Montserrat-VariableFont_wght'), url(./Fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}